{% extends 'base.html' %}

{% block content %}



<!-- about -->
<div class="welcome">
	<div class="container">
		<!-- <h3 class="agileits_w3layouts_head">Why <span>Choose</span> Us</h3> -->
		
		<div class="w3ls_news_grids"> 
            <div class="agileits_mail_grid_right1 agile_mail_grid_right1">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <span>
                        <i>Upload Image</i>
                        <!-- <input type="text" name="Name" placeholder=" " required=""> -->
                        <input type="file" id="img" name="img" accept="image/*">

                        <!-- <select class="form-control" name="area">
                            <option>India</option>
                        </select> -->
                    </span>
                    <br/>
                    
                    <div class="w3_submit">
                        <input type="submit" value="Submit Now">
                    </div>
                </form>

                {% if plant_details %}
                    <br/><br/>
                    <div id="welcome_bottom" class="welcome-bottom">
                        <div class="col-md-12 wthree_welcome_bottom_left">
                            <h3><span>Plant Disease Prediction</span></h3>
                            <p><b>Predicted Plant Class : </b> {{plant_details.p1}}</p>
                            <p><b>Details : </b> {{plant_details.p2}}</p>
                            <p><b>Symptoms : </b> {{plant_details.p3}}</p>
                            <p><b>Precautions : </b> {{plant_details.p4}}</p>
                            <p><b>Suppliments : </b> {{plant_details.p5}}</p>
           
                            <div class="clearfix"> </div>
                        </div>
                        <div class="col-md-6 wthree_welcome_bottom_right">
                            <div class="agileinfo_grid">
                                <figure class="agileits_effect_moses">
                                    <!-- <img src="{{detail.soil.image.url}}" alt=" " class="img-responsive" /> -->
                                    <!-- <figcaption>
                                        <h4>Plantation <span>For Future Growth</span></h4>
                                        <p>Nullam in luctus lectus. Mauris lobortis dui mauris, non vestibulum 
                                            magna blandit at scelerisque tellus ipsum nec ipsum.</p>
                                    </figcaption>			 -->
                                </figure>
                            </div>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <br><br>
                {% endif %}

            </div>
		</div>
	</div>
</div>

{% endblock %} 